<% include ./resources/constants/ejs-variables.ejs %>

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <title><%= $g.title %></title>
  <link rel="icon" href="/assets/images/favicon.ico">
</head>
<body>

<% include ./public/components/header/header.ejs %>

<main>
</main>

<% include ./public/components/footer/footer.ejs %>

</body>
</html>
