<% include ./resources/constants/ejs-variables.ejs %>

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <title><%= $g.title %></title>
  <link rel="icon" href="/assets/images/favicon.ico">
</head>
<body>

<% include ./public/components/header/header.ejs %>

<main>
  <div>
    <h1>花札（初心者練習用）</h1>
    <hr />
    <h2>場札</h2>
    <ul id="jsi-bafuda" class="bafuda"></ul>
    <hr />
    <h2>合札</h2>
    <ul id="jsi-aifuda"></ul>
    <hr />
    <h2>手札</h2>
    <ul id="jsi-tefuda" class="tefuda"></ul>
  </div>
  <div class="yamafuda-wrapper">
    <h2>山札</h2>
    <ul id="jsi-yamafuda"></ul>
    <hr />
    <h2>捨札</h2>
    <ul id="jsi-sutefuda" class="sutefuda"></ul>
  </div>
</main>

<% include ./public/components/footer/footer.ejs %>

</body>
</html>
