@charset 'utf-8';

// Import Templates
@import '../resources/styles/_variables.scss';
// @import '../resources/styles/_reset.scss';

// Style Guides
@import '../resources/styles/_components.scss';

$cardWidth: 80px;
$cardMargin: 10px;

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
  white-space: nowrap;

  li {
    width: $cardWidth;
    padding: $cardMargin;
    white-space: normal;

    img {
      width: 100%;
    }

    div {
      font-size: 12px;
    }

    &.is-matched-flower-type {
      background-color: #D8D44B;

      img {
        opacity: 0.75;
      }

      div {
        font-weight: bold;
      }
    }
  }

  &.tefuda {
    > li {
      cursor: pointer;
    }
  }
}
